.todoFormContainer {
    margin-bottom: 30px;
}

.todoFormContainer form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  
.todoFormContainer input {
    width: 45%;
    height: 30px;
    font-size: 1.3rem;
  }
  
.todoFormContainer button {
    margin-left: 20px;
    height: 50px;
    cursor: pointer;
    background-color: beige;
    font-size: 1.5rem;
  }
  
.todoFormContainer button:hover {
    background-color: rgb(240, 240, 155);
  }
  
.todoFormContainer input,
  button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
  }

.todoFormAcceptButton,
.todoFormCancelButton {
    transition: 0.2s;
    font-size: 1.8rem;
    padding: 10px;
    margin-left: 20px;
    background-color: beige;
    border-radius: 5px;
}

.todoFormAcceptButton {
  color: green;
}

.todoFormCancelButton {
  color: red;
}

.todoFormAcceptButton:hover ,
.todoFormCancelButton:hover {
    cursor: pointer;
    background-color: rgb(240, 240, 155);
}
  